lab4/lab4.json
[{"id":"8043a9eafcdabf5a","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"3cd7e2f595994a0b","type":"group","z":"8043a9eafcdabf5a","name":"change number","style":{"label":true},"nodes":["f028fe45cfd3dbbc","e7e51bfb6d61bbb4","16d6dbdc078c5366","f98aa4068b8125ca","3a5e0ff9354d0019","fc5ceedc18d0171c","3004d4195eed066c","e8e60f0e84b767a0","a9d0125e6509ba43"],"x":494,"y":1099,"w":372,"h":242},{"id":"c9468fa10b95cd82","type":"group","z":"8043a9eafcdabf5a","name":"Controls","style":{"label":true},"nodes":["bce7ec18d20ebdfa","6f630faebbec0352","45e7c35c95b05dab","b923abdffca7a127","6847a41175abe825","b8a2eb0b384f0c33","b2a6ef33a2bd5de1"],"x":494,"y":839,"w":512,"h":242},{"id":"525865fe0e8187c7","type":"inject","z":"8043a9eafcdabf5a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$random() * 10.0","payloadType":"jsonata","x":690,"y":640,"wires":[["1d34fb3311696944","6ea692c23945d146","583aedabf1d01cf0"]]},{"id":"1d34fb3311696944","type":"ui-gauge","z":"8043a9eafcdabf5a","name":"","group":"2b8531f7f84dddb1","order":1,"value":"$round(payload, 1)","valueType":"jsonata","width":3,"height":3,"gtype":"gauge-half","gstyle":"needle","title":"Speed","alwaysShowTitle":false,"floatingTitlePosition":"top-left","units":"m/s","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#0080ff","text":"","textType":"label"},{"from":"2","color":"#008000","text":"","textType":"label"},{"from":"5","color":"#ffff00","text":"","textType":"label"},{"from":"8","color":"#ea5353","text":"","textType":"label"}],"min":0,"max":10,"sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":890,"y":640,"wires":[[]]},{"id":"6ea692c23945d146","type":"ui-gauge","z":"8043a9eafcdabf5a","name":"","group":"2b8531f7f84dddb1","order":3,"value":"$round($random() * 10.0, 1)","valueType":"jsonata","width":3,"height":3,"gtype":"gauge-battery","gstyle":"needle","title":"Speed","alwaysShowTitle":false,"floatingTitlePosition":"top-left","units":"m/s","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#0080ff","text":"","textType":"label"},{"from":"2","color":"#008000","text":"","textType":"label"},{"from":"5","color":"#ffff00","text":"","textType":"label"},{"from":"8","color":"#ea5353","text":"","textType":"label"}],"min":0,"max":10,"sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":890,"y":700,"wires":[[]]},{"id":"583aedabf1d01cf0","type":"ui-gauge","z":"8043a9eafcdabf5a","name":"","group":"2b8531f7f84dddb1","order":2,"value":"$round($random() * 10.0, 1)","valueType":"jsonata","width":3,"height":3,"gtype":"gauge-tank","gstyle":"needle","title":"Speed","alwaysShowTitle":false,"floatingTitlePosition":"top-left","units":"m/s","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#0080ff","text":"","textType":"label"},{"from":"2","color":"#008000","text":"","textType":"label"},{"from":"5","color":"#ffff00","text":"","textType":"label"},{"from":"8","color":"#ea5353","text":"","textType":"label"}],"min":0,"max":10,"sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":890,"y":760,"wires":[[]]},{"id":"f028fe45cfd3dbbc","type":"ui-number-input","z":"8043a9eafcdabf5a","g":"3cd7e2f595994a0b","group":"c85ea511bec3c000","name":"","label":"number","order":5,"width":"1","height":"1","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"tooltip":"","passthru":false,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":720,"y":1220,"wires":[["3a5e0ff9354d0019"]]},{"id":"e7e51bfb6d61bbb4","type":"ui-button-group","z":"8043a9eafcdabf5a","g":"3cd7e2f595994a0b","name":"","group":"c85ea511bec3c000","order":1,"width":"2","height":1,"label":"set","className":"","rounded":true,"useThemeColors":true,"passthru":false,"options":[{"label":"","icon":"numeric-0-box","value":"0","valueType":"num","color":"#009933"},{"label":"","icon":"numeric-5-box","value":"5","valueType":"num","color":"#999999"},{"label":"","icon":"numeric-10-box","value":"10","valueType":"str","color":"#ff6666"}],"topic":"topic","topicType":"msg","x":710,"y":1260,"wires":[["3a5e0ff9354d0019"]]},{"id":"16d6dbdc078c5366","type":"ui-slider","z":"8043a9eafcdabf5a","g":"3cd7e2f595994a0b","group":"c85ea511bec3c000","name":"","label":"slider","tooltip":"","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","thumbLabel":"true","showTicks":"always","min":0,"max":10,"step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":710,"y":1180,"wires":[["3a5e0ff9354d0019"]]},{"id":"f98aa4068b8125ca","type":"ui-text","z":"8043a9eafcdabf5a","g":"3cd7e2f595994a0b","group":"c85ea511bec3c000","order":2,"width":"1","height":"1","name":"","label":"Result","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":16,"color":"#ffff00","wrapText":false,"className":"","value":"payload","valueType":"msg","x":710,"y":1140,"wires":[]},{"id":"3a5e0ff9354d0019","type":"link out","z":"8043a9eafcdabf5a","g":"3cd7e2f595994a0b","name":"link out 1","mode":"link","links":["fc5ceedc18d0171c"],"x":825,"y":1200,"wires":[]},{"id":"fc5ceedc18d0171c","type":"link in","z":"8043a9eafcdabf5a","g":"3cd7e2f595994a0b","name":"link in 1","links":["3a5e0ff9354d0019"],"x":545,"y":1200,"wires":[["3004d4195eed066c"]]},{"id":"3004d4195eed066c","type":"delay","z":"8043a9eafcdabf5a","g":"3cd7e2f595994a0b","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":595,"y":1200,"wires":[["16d6dbdc078c5366","f98aa4068b8125ca","f028fe45cfd3dbbc"]],"l":false},{"id":"e8e60f0e84b767a0","type":"ui-button","z":"8043a9eafcdabf5a","g":"3cd7e2f595994a0b","group":"c85ea511bec3c000","name":"","label":"to random","order":4,"width":"1","height":"1","emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":580,"y":1300,"wires":[["a9d0125e6509ba43"]]},{"id":"a9d0125e6509ba43","type":"change","z":"8043a9eafcdabf5a","g":"3cd7e2f595994a0b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round($random() * 10.0, 0)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1300,"wires":[["3a5e0ff9354d0019"]]},{"id":"bce7ec18d20ebdfa","type":"ui-text-input","z":"8043a9eafcdabf5a","g":"c9468fa10b95cd82","group":"7760f48e1c1c42c6","name":"","label":"text","order":2,"width":"2","height":"1","topic":"topic","topicType":"msg","mode":"text","tooltip":"","delay":300,"passthru":false,"sendOnDelay":true,"sendOnBlur":false,"sendOnEnter":false,"className":"","clearable":false,"sendOnClear":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","x":610,"y":1000,"wires":[["6847a41175abe825"]]},{"id":"6f630faebbec0352","type":"ui-dropdown","z":"8043a9eafcdabf5a","g":"c9468fa10b95cd82","group":"7760f48e1c1c42c6","name":"","label":"Select Option:","tooltip":"","order":1,"width":"2","height":"1","passthru":false,"multiple":false,"chips":true,"clearable":false,"options":[{"label":"Hello","value":"Hello World!","type":"str"},{"label":"Slava","value":"Slava Ukrayini!","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","typeIsComboBox":true,"msgTrigger":"onChange","x":600,"y":920,"wires":[["6847a41175abe825"]]},{"id":"45e7c35c95b05dab","type":"ui-radio-group","z":"8043a9eafcdabf5a","g":"c9468fa10b95cd82","group":"7760f48e1c1c42c6","name":"","label":"Select Option:","order":4,"width":"1","height":"3","columns":1,"passthru":false,"options":[{"label":"0","value":"Zero","type":"str"},{"label":"1","value":"One","type":"str"},{"label":"10","value":"Ten","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":600,"y":960,"wires":[["6847a41175abe825"]]},{"id":"b923abdffca7a127","type":"ui-switch","z":"8043a9eafcdabf5a","g":"c9468fa10b95cd82","name":"","label":"On/Off","group":"7760f48e1c1c42c6","order":6,"width":"1","height":"1","passthru":false,"decouple":false,"topic":"topic","topicType":"msg","style":"","className":"","layout":"row-left-swapped","clickableArea":"switch","onvalue":"On","onvalueType":"str","onicon":"toggle-switch","oncolor":"green","offvalue":"Off","offvalueType":"str","officon":"toggle-switch-off","offcolor":"grey","x":610,"y":880,"wires":[["6847a41175abe825"]]},{"id":"6847a41175abe825","type":"ui-audio","z":"8043a9eafcdabf5a","g":"c9468fa10b95cd82","group":"","ui":"5e00046a3673e579","name":"","order":0,"width":0,"height":0,"mode":"tts","voice":"","src":"","autoplay":"off","loop":"off","muted":"off","x":800,"y":940,"wires":[["b8a2eb0b384f0c33"]]},{"id":"b8a2eb0b384f0c33","type":"ui-text","z":"8043a9eafcdabf5a","g":"c9468fa10b95cd82","group":"7760f48e1c1c42c6","order":5,"width":"2","height":"1","name":"","label":"Value","format":"{{msg.payload}}","layout":"row-left","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","value":"payload","valueType":"msg","x":930,"y":940,"wires":[]},{"id":"b2a6ef33a2bd5de1","type":"ui-text-input","z":"8043a9eafcdabf5a","g":"c9468fa10b95cd82","group":"7760f48e1c1c42c6","name":"","label":"date","order":3,"width":"2","height":"1","topic":"topic","topicType":"msg","mode":"date","tooltip":"","delay":300,"passthru":false,"sendOnDelay":true,"sendOnBlur":false,"sendOnEnter":false,"className":"","clearable":false,"sendOnClear":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","x":610,"y":1040,"wires":[["6847a41175abe825"]]},{"id":"2b8531f7f84dddb1","type":"ui-group","name":"Indicators","page":"99a3021c06d11e47","width":"12","height":"1","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"c85ea511bec3c000","type":"ui-group","name":"Numbers","page":"5f15e5186f4b574d","width":"3","height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"7760f48e1c1c42c6","type":"ui-group","name":"Controls","page":"5f15e5186f4b574d","width":"4","height":1,"order":2,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"5e00046a3673e579","type":"ui-base","name":"My Dashboard","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"headerContent":"page","navigationStyle":"default","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":1,"showDisconnectNotification":true,"allowInstall":false},{"id":"99a3021c06d11e47","type":"ui-page","name":"Widgets","ui":"5e00046a3673e579","path":"/widgets","icon":"home","layout":"grid","theme":"b4ec6c21979ae231","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":true,"disabled":false},{"id":"5f15e5186f4b574d","type":"ui-page","name":"Widgets2","ui":"5e00046a3673e579","path":"/widgets2","icon":"home","layout":"grid","theme":"885d92cb91c4397c","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":2,"className":"","visible":"true","disabled":"false"},{"id":"b4ec6c21979ae231","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#008080","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"885d92cb91c4397c","type":"ui-theme","name":"Default Theme","colors":{"surface":"#f7f7f7","primary":"#408080","bgPage":"#eeeeee","groupBg":"#e8e8e8","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"0a4aeef79052fef6","type":"global-config","env":[],"modules":{"@flowfuse/node-red-dashboard":"1.30.2"}}]