lab3/flows.json
[{"id":"87df20356990a7c5","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"a13cf5e10a05ce88","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"bfb1c746295aab5c","type":"inject","z":"87df20356990a7c5","name":"Початок","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"topic1","payload":"","payloadType":"date","x":180,"y":140,"wires":[["33f13dd089afa80f","474199c89d0486c3","dae0b0b1c52aa609","33cf2b0be450ec8e","215d5e374c3598b3","0f420b228dffd633"]]},{"id":"3609f8dc8e395daf","type":"debug","z":"87df20356990a7c5","name":"Debug1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":140,"wires":[]},{"id":"474199c89d0486c3","type":"delay","z":"87df20356990a7c5","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":180,"y":200,"wires":[["3a9a4fca6f3d5c17"]]},{"id":"dae0b0b1c52aa609","type":"delay","z":"87df20356990a7c5","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":180,"y":240,"wires":[["38fe72806e627530"]]},{"id":"33cf2b0be450ec8e","type":"delay","z":"87df20356990a7c5","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":180,"y":280,"wires":[["526ed8b3f6741c78"]]},{"id":"215d5e374c3598b3","type":"delay","z":"87df20356990a7c5","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":180,"y":320,"wires":[["0dca788496cfdf11"]]},{"id":"33f13dd089afa80f","type":"change","z":"87df20356990a7c5","name":"set1","rules":[{"t":"set","p":"payload","pt":"msg","to":"один","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":140,"wires":[["3609f8dc8e395daf"]]},{"id":"3a9a4fca6f3d5c17","type":"change","z":"87df20356990a7c5","name":"set2","rules":[{"t":"set","p":"payload","pt":"msg","to":"два","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":200,"wires":[["3609f8dc8e395daf"]]},{"id":"38fe72806e627530","type":"change","z":"87df20356990a7c5","name":"set3","rules":[{"t":"set","p":"payload","pt":"msg","to":"три","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":240,"wires":[["3609f8dc8e395daf"]]},{"id":"526ed8b3f6741c78","type":"change","z":"87df20356990a7c5","name":"set4","rules":[{"t":"set","p":"payload","pt":"msg","to":"чотири","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":280,"wires":[["3609f8dc8e395daf"]]},{"id":"0dca788496cfdf11","type":"change","z":"87df20356990a7c5","name":"set5","rules":[{"t":"set","p":"payload","pt":"msg","to":"п`ять","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":320,"wires":[["3609f8dc8e395daf"]]},{"id":"0f420b228dffd633","type":"function","z":"87df20356990a7c5","name":"ДатаЧас","func":"var date1 = new Date(msg.payload);\nmsg.payload = 'Дата початку: ' + date1.toLocaleString();\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":400,"wires":[["6d0f13cd4ab1f5de"]]},{"id":"6d0f13cd4ab1f5de","type":"debug","z":"87df20356990a7c5","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":400,"wires":[]},{"id":"f8fe486b69ac373c","type":"inject","z":"a13cf5e10a05ce88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"topic1","payload":"","payloadType":"date","x":240,"y":300,"wires":[["b09c7e91bd1a6e7e"]]},{"id":"4cb9b946fb296b57","type":"debug","z":"a13cf5e10a05ce88","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":300,"wires":[]},{"id":"b09c7e91bd1a6e7e","type":"NetworkIntf","z":"a13cf5e10a05ce88","name":"NetworkIntf","x":470,"y":300,"wires":[["4cb9b946fb296b57"]]},{"id":"29da5b24658634f6","type":"global-config","env":[],"modules":{"node-red-contrib-os":"0.2.1"}}]
